# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Outputs temporários do generate_figures.py
figs/

# Optuna / experimentos
*.db
optuna_*.log
